<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" version="4.0">
	
  <display-name>Oblig4</display-name>
  
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Paameldingsskjema</servlet-name>
    <servlet-class>Servlets.Paameldingsskjema</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Deltakerliste</servlet-name>
    <servlet-class>Servlets.Deltakerliste</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Loggut</servlet-name>
    <servlet-class>Servlets.Loggut</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Paameldingsbekreftelse</servlet-name>
    <servlet-class>Servlets.Paameldingsbekreftelse</servlet-class>
  </servlet>
  
</web-app>